@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
    url("/fonts/PPNeueMontreal-Book.woff") format("woff");
}

@font-face {
  font-family: "Cirka";
  src: url("/fonts/PPCirka-Medium.woff2") format("woff2"),
    url("/fonts/PPCirka-Medium.woff") format("woff");
}

html {
  overscroll-behavior: none;
  overflow-x: hidden;
}

.overlay-anim-enter-from,
.overlay-anim-leave-to {
  opacity: 0;
}
.overlay-anim-enter-active,
.overlay-anim-leave-active {
  transition: opacity 400ms cubic-bezier(0.45, 0, 0.55, 1);
}
.overlay-anim-enter-to,
.overlay-anim-leave-from {
  opacity: 1;
}

.modal-anim-enter-from,
.modal-anim-leave-to {
  transform: translateX(calc(100% + 128px));
}
.modal-anim-enter-active,
.modal-anim-leave-active {
  transition: transform 400ms cubic-bezier(0.45, 0, 0.55, 1);
}
.modal-anim-enter-to,
.modal-anim-leave-from {
  transform: translateX(0);
}
